* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.main {
  margin: auto;
  width: 80%;
  height: 100%;
  background-color: #ffffff;
}

.item {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.checkbox-container {
  /*display: flex;
  flex-grow: 1;
  justify-content: left;
  align-items: center;*/
  max-height: 100%;
  min-width: 40px;
  max-width: 40px;
  margin: 5px;
}

.checkbox:hover {
  opacity: 0.6;
}

.checkbox {
  height: 20px;
  width: 20px;
  background-color: #000000;
}

.title {
  display: flex;
  flex-grow: 10;
  min-width: 45%;
}

.author {
  display: flex;
  flex-grow: 10;
  max-width: 20%;
}

.time {
  /*display: flex;
  flex-grow: 1;*/
  color: #079992;
  align-self: right;
}

.btn{
  display: inline-block;
  text-decoration: none;
  background: #f2db71;
  color: #FFF;
  width: 8vh;
  height: 8vh;
  line-height: 8vh;
  font-size: 5vh;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
}

.btn:hover{
    background: rgb(247, 162, 4);
}

#buttonbox{
    position: absolute;
    bottom: 2vh;
    right: 0;
    position: sticky;
    display: inline-block;
    text-align: center;
}

#add_btn, #delete_btn, #reload_btn, #search_btn,
  #sort_ascend_btn, #sort_descend_btn, #sort_source_btn{
    padding: 0;
    margin: 0;
    margin-right: 0.5vh;
    margin-left: 0.5vh;
    display: inline-block;
}
